<template>
    <div>
        <h2>{{ increse }}</h2>
        <button @click="count"> increase</button>
    </div>
    
</template>

<script>
export default {
    props:['countchild'],
    data(){
        return{
            increse:this.countchild
        }
    },
    methods:{
        count(){
            this.increse += 5;
            this.$emit('passData', 10);
        }
    }
}
</script>
<style>
    
</style>
