<template>
    <div class="container">

            <div class="row">

              <div class="col-md-6">
                <form>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12">
                    <h1>File a Complaint</h1>
                    <hr>
                    <div class="form-group">
                      <label for="email">Mail</label>
                      <input
                        type="text"
                        id="email"
                        class="form-control"

                      :value="userData.email"
                      @input="userData.email = $event.target.value">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        v-model.lazy="userData.password">
                    </div>
                    <div class="form-group">
                      <label for="age">Age</label>
                      <input
                        type="number"
                        id="age"
                        class="form-control"
                        v-model="userData.age">
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12 form-group">
                    <label for="message">Message</label><br>
                    <!-- Interpolation between <textarea>{{ test }}</textarea> doesn't work!-->
                    <textarea
                      id="message"
                      rows="5"
                      class="form-control"
                      v-model="message"
                    ></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12">
                    <div class="form-group">
                      <label for="sendmail">
                        <input
                          type="checkbox"
                          id="sendmail"
                          value="SendMail"
                          v-model="sendMail"> Send Mail
                      </label>
                      <label for="sendInfomail">
                        <input
                          type="checkbox"
                          id="sendInfomail"
                          value="SendInfoMail"
                          v-model="sendMail"> Send Infomail
                      </label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12 form-group">
                    <label for="male">
                      <input
                        type="radio"
                        id="male"
                        value="Male"
                        v-model="gender"> Male
                    </label>
                    <label for="female">
                      <input
                        type="radio"
                        id="female"
                        value="Female"
                        v-model="gender"> Female
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12 from-group">
                    <label for="priority">Priority</label>
                    <select
                      id="priority"
                      class="form-control" v-model="selectedQuality">
                      <option v-for="property in properties">{{property}}</option>
                    </select>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-12 from-group">
                      <app-switch v-model="dataSwitch"></app-switch>
                    </div>
                  </div>
                <hr>
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-12">
                    <button
                      class="btn btn-primary"
                      @click.prevent="showData">Submit!
                    </button>
                  </div>
                </div>
                </form>
              </div>

              <hr>
              <div class="col-md-6">
                <div class="row" v-if="isSubmitted">
                  <div class="col-xs-12 col-sm-8 col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Your Data</h4>
                      </div>
                      <div class="panel-body">
                        <p>Mail:{{userData.email}}</p>
                        <p>Password: {{userData.password}}</p>
                        <p>Age:{{userData.age}}</p>
                        <p>Message: {{message}}</p>
                        <p><strong>Send Mail?</strong></p>
                        <ul>
                          <li v-for="item in sendMail">{{item}}</li>
                        </ul>
                        <p>Gender:{{gender}}</p>
                        <p>Priority:{{selectedQuality}}</p>
                        <p>Switched:{{dataSwitch}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>











    </div>
</template>

<script>
  import Switch from './Switch.vue';
    export default {
      data(){
        return{
          userData:{
            email:'',
            password:'',
            age:35
          },
          message:'',
          sendMail:[],
          selectedQuality:'high',
          properties:['high', 'medium', 'low'],
          gender:'',
          dataSwitch:true,
          isSubmitted: false
        }
      },
      methods:{
        showData(){
          this.isSubmitted = true;
        }
      },
      components:{
        appSwitch: Switch
      }
    }
</script>

<style>

</style>
