a.btn-floating.primary-color.waves-effect.waves-light {
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  border-radius: 100%;
  box-shadow: 4px 6px 9px #ddd;
}
a.nav-link.router-link-exact-active.active {
  background: red;
}
.text-center {
  text-align: center!important;
  width: 100%;
}
select.mdb-select {
  display: block;
  width: 300px;
  border: 1px solid #ddd;
  padding: 11px 10px;
  margin-bottom: 10px;
}
