<template>
  <div class="row">
    <div class="progress" style="height: 20px">
      <div class="progress-bar" role="progressbar" style="height: 20px" :style="{width:(qouteCount / maxQoutes) * 100 +'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{qouteCount}}/{{maxQoutes}}</div>
    </div>
  </div>

</template>

<script>
    export default {
        props:['qouteCount', 'maxQoutes']
    }
</script>

<style scoped>
  .progress{
    width: 100%;
  }
</style>
