<template>
    <div class="row text-center">
      <div class="col-sm-6 col-xs-12 col-md-12">
        <div class="form-group shadow-textarea">
          <label for="exampleFormControlTextarea6">Quote</label>
          <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." v-model="qoute"></textarea>
        </div>
      </div>


      <div class="col-sm-6 col-xs-12 col-md-12">
        <div class="form-group shadow-textarea">
          <button class="btn btn-deep-purple" @click.prevent="createNew">Add Quote</button>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        data: function () {
          return{
            qoute: ''
          };
        },
      methods:{
          createNew(){
            this.$emit('qouteAdded', this.qoute);
            this.qoute = '';
          }
      }
    }
</script>

<style scoped>
  .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
  }
  .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
  }
</style>
