<template>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel-body qoute">
          <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Qoute"
    }
</script>

<style scoped>
  .panel-body {
    font-family: 'Arizonia', cursive;
    font-size: 24px;
    color: #6e6e6e;
  }
  .qoute{
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 20px;
  }
  .qoute:hover{
    background-color: #ffe2e2;
  }
</style>
