<template>
<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card">
      <div class="card-heading bg-info">
        <h4 class="card-title">{{stock.name}} <small>(Price:{{stock.price}}) ({{stock.quantity}})</small></h4>
      </div>
      <div class="card-body">
        <div>
          <input type="number" class="form-control" placeholder="Quantity" v-model="quantity">
        </div>
        <div>
          <button class="btn btn-info"
                  @click="sellStock"
                  :disabled="insufficientQuantity || quantity <= 0 || Number.isInteger(quantity)"
           >{{insufficientQuantity ? 'Not enough Quantity': 'Sell'}}</button>
        </div>
      </div>
  </div>
</div>

</template>
<script>
import {mapActions} from 'vuex';
export default {
    props:['stock'],
    data(){
      return{
        quantity:0
      }
    },
    computed:{
      insufficientQuantity(){
        return this.quantity > this.stock.quantity;
      }
    },
    methods:{
      ...mapActions({
        placeSellOrder: 'sellStock'
      }),
      sellStock(){
        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: this.quantity
        }
        this.placeSellOrder(order);
        this.quantity = 0;
      }
    }
}
</script>

<style scoped>
.card-body {
    display: flex;
}
.card-title {
    margin-bottom: 0;
    margin: 10px;
}
.card {
    margin-bottom: 25px;
}
.btn {
    padding: .60rem 1.45rem;
    margin: 0 17px;
}

</style>
