<template>
  <div>
<div class="card">

  <app-delete-group v-if="deleteGro" :iGroup="deleteIndex" @close="deleteGro = false"></app-delete-group>
  <app-edit-group v-if="editGrop" @close="editGrop = false" :iCategory="deleteIndex"></app-edit-group>
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Group table</h3>
    <app-modal-group v-if="showData" @close="showData = false"></app-modal-group>
    <div class="card-body">
        <div id="table" class="table-editable">


            <span class="table-add float-right mb-3 mr-2">
              <button type="button" class="btn btn-success" @click="showData = true">Add Group</button>
              </span>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Serial</th>
                    <th class="text-center">Group Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
                <tr v-for="(ic, index) in itemsGroup" :key="index">
                    <td class="" contenteditable="true">{{ index + 1 }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.name }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ic.details}}</td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-elegant btn-rounded btn-sm my-0" @click="editGro(index)">Edit</button></span>
                    </td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" @click="deleteGroup(index)">Delete</button></span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
  </div>
</template>
<script>
import ModalGroup from './modals/ModalGroup'
import DeleteGroup from './modals/DeleteGroup';
import EditGroup from './modals/EditGroup'
export default {
  data(){
    return{
      showData:false,
      deleteGro:false,
      editGrop:false,
      deleteIndex:'thisms'
    }
  },
  methods:{
    deleteGroup(de){
        // this.$store.dispatch('deleteCat', de);
        this.deleteIndex = de;
        console.log(this.deleteIndex);
        this.deleteGro = true;
    },
    editGro(i){
      this.deleteIndex = i;
      this.editGrop = true;

    }
  },
  components:{
    appModalGroup:ModalGroup,
    appDeleteGroup:DeleteGroup,
    appEditGroup:EditGroup
  },
  computed:{
    itemsGroup(){
      return this.$store.getters.group;
    }
  }
}
</script>
