<template>
  <div>
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Categories table</h3>
    <app-delete-cat v-if="deleteCat" @close="deleteCat = false" :iCategory="deleteIndex"></app-delete-cat>
    appEditCat
    <app-edit-cat v-if="editCat" @close="editCat = false" :iCategory="deleteIndex"></app-edit-cat>
    <app-modal-cat v-if="showData" @close="showData = false"></app-modal-cat>

    <div class="card-body">
        <div id="table" class="table-editable">


            <span class="table-add float-right mb-3 mr-2">
              <button type="button" class="btn btn-success" @click="showData = true">Add Cat</button>
              </span>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Serial</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Details</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
                <tr v-for="(ic, index) in itemsCategories" :key="index">
                    <td class="" contenteditable="true">{{ index + 1 }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.name }}</td>
                    <td class="pt-3-half" contenteditable="true" style="width:50px;"><img :src="ic.img" alt="" style="width:50px;"></td>
                    <td class="pt-3-half" contenteditable="true">{{ic.details}}</td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-elegant btn-rounded btn-sm my-0" @click="editCatm(index)">Edit</button></span>
                    </td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" @click="deletecat(index)">Delete</button></span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
  </div>
</template>
<script>
import ModalCat from './modals/ModalCat';
import DeleteCat from './modals/DeleteCat';
import EditCat from './modals/EditCat';
export default {
  data(){
    return{
      showData:false,
      deleteCat:false,
      editCat:false,
      deleteIndex:'thisms'
    }
  },
  methods:{
    deletecat(de){
        // this.$store.dispatch('deleteCat', de);
        this.deleteIndex = de;
        console.log(this.deleteIndex);
        this.deleteCat = true;
    },
    
  },
  components:{
    appModalCat:ModalCat,
    appDeleteCat:DeleteCat,
    appEditCat:EditCat
  },
  computed:{
    itemsCategories(){
      return this.$store.getters.mainCategory;
    }
  }
}
</script>
