<template>
  <div>
<div class="card">
  appModalItem
  <app-modal-item v-if="deleteIt" @close="deleteIt = false" :iItem="deleteIndex"></app-modal-item>
  <app-edit-item v-if="editItemsh" @close="editItemsh = false" :iCategory="deleteIndex"></app-edit-item>
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Categories table</h3>
    <app-modal-cat v-if="showData" @close="showData = false"></app-modal-cat>
    <div class="card-body">
        <div id="table" class="table-editable">


            <span class="table-add float-right mb-3 mr-2">
              <button type="button" class="btn btn-success" @click="showData = true">Add Cat</button>
              </span>

            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Serial</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">group</th>
                    <th class="text-center">price</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
                <tr v-for="(ic, index) in items" :key="index">
                    <td class="" contenteditable="true">{{ index +1 }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.title }}</td>
                    <td class="pt-3-half" contenteditable="true" style="width:50px;"><img :src="ic.img" alt="" style="width:50px;"></td>
                    <td class="pt-3-half" contenteditable="true">{{ic.category}}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.group }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.price }}</td>
                    <td class="pt-3-half" contenteditable="true">{{ ic.description }}</td>


                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-elegant btn-rounded btn-sm my-0" @click="editItemm(index)">Edit</button></span>
                    </td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" @click="deleteItem(index)">Delete</button></span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
  </div>
</template>
<script>
import ModalItems from './modals/ModalItems';
import DeleteItem from './modals/DeleteItem';
import EditItem from './modals/EditItem';
export default {
  data(){
    return{
      showData:false,
      deleteIt:false,
      editItemsh:false,
      deleteIndex:'thisms'
    }
  },
  components:{
    appModalCat:ModalItems,
    appModalItem:DeleteItem,
    appEditItem:EditItem
  },
  methods:{
    deleteItem(de){
        // this.$store.dispatch('deleteCat', de);
        this.deleteIndex = de;
        console.log(this.deleteIndex);
        this.deleteIt = true;
    },
    editItemm(i){
      this.deleteIndex = i;
      this.editItemsh = true;

    }
  },
  computed:{
    items(){
      return this.$store.getters.allItems;
    }
  }
}
</script>
