<template>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <button class="modal-default-button" @click="$emit('close')">
                X
              </button>
          <div class="modal-body">
            <slot name="body">
               <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1" >Title</span>
  </div>
  <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" v-model="itemName">
</div>


<select class="mdb-select" v-model="itemCat">
  <option value="" disabled selected>Choose your Category</option>
    <option  :value="im.name" selected v-for="(im, index) in itemsCategories" :key="index"> {{im.name}}</option>

</select>
<select class="mdb-select" v-model="itemGroup">
    <option value="" disabled selected>Choose your option</option>
    <option :value="ig.name" v-for="(ig, index) in itemsGroup" class="rounded-circle"  :key="index" >{{ig.name}}</option>

</select>
              <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Price</span>
  </div>
  <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" v-model="itemPrice">
</div>
<form class="md-form">
                  <div class="file-field">
                      <div class="btn btn-primary btn-sm float-left">
                          <span>Choose file</span>
                          <input type="file" @change="itemImage">
                      </div>
                  </div>
              </form>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="With textarea" v-model="itemdes"></textarea>
</div>

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-success" @click="updateItems">Add Category</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data(){
    return {
      itemImgsrc:'',
      itemName:'',
      itemdes:'',
      itemPrice:'',
      itemCat:'',
      itemGroup:'',
    }
  },
  props:['iCategory'],
  methods:{
    updateItems(){
      const updateItem = {
        title:this.itemName,
        category:this.itemCat,
        group:this.itemGroup,
        price:this.itemPrice,
        description:this.itemdes,
        img:null
      }
      const ic = this.iCategory;

      this.$store.dispatch('updateItem', {updateItem, ic});
      this.$store.dispatch("setData")
    },
    itemImage(e){
       const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.img = e.target.result;

                };
    }
  },

  computed:{
    pastValue(){
      return this.$store.getters.allItems[this.iCategory];
    },
    itemsCategories(){
      return this.$store.getters.mainCategory;
    },
    itemsGroup(){
      return this.$store.getters.group;
    }
  },
  created(){
      this.itemImgsrc = this.pastValue.img;
      this.itemName = this.pastValue.title;
      this.itemdes = this.pastValue.description;
      this.itemPrice = this.pastValue.price;
      this.itemCat = this.pastValue.category;
      this.itemGroup = this.pastValue.group;
  }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>

