<template>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <button class="modal-default-button" @click="$emit('close')">
                X
              </button>
          <div class="modal-body">
            <slot name="body">
               <div class="form-group">
                  <label for="formGroupExampleInput">Category Name</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" v-model="categoryName">
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea2">Small textarea</label>
                  <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" v-model="categorydes"></textarea>
              </div>

              <form class="md-form">
                  <div class="file-field">
                      <div class="btn btn-primary btn-sm float-left">
                          <span>Choose file</span>
                          <input type="file" @change="catImage">
                      </div>
                  </div>
              </form>

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="button" class="btn btn-success" @click="addcat">Add Category</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data(){
    return {
      imgsrc:'',
      categoryName:'',
      categorydes:'',
    }
  },
  methods:{
    addcat(){
      const newCategory = {
        img:this.imgsrc,
        name:this.categoryName,
        details:this.categorydes
      }

      this.$store.dispatch('addCategory', newCategory);
      this.$store.dispatch("setData")
    },
    catImage(e){
       const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e =>{
                    this.imgsrc = e.target.result;

                };
    }
  }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>

