<template>
    <div>
      <h2>the author</h2>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
  div {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px black;
    padding: 20px;
    margin: 30px auto;
  }
</style>
