<template>
  <div>
    <div class="title">
      <slot name="titlett"></slot>
      <slot name="subtitle" style="color:#ccc;">The subtitle</slot>
    </div>
    <div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
  div {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px black;
    padding: 20px;
    margin: 30px auto;
  }

  h2 {
    color: red;
  }
  .title{
    font-style: italic;
  }
</style>
