<template>
    <div>
      <h2>new componetnt</h2>
      <button @click="increase++">increase</button>
      <p>{{increase}}</p>
    </div>
</template>

<script>
    export default {
        data(){
          return{
            increase: 0
          }
        },
        destroyed(){
          console.log("destroy called");
        },
      deactivated(){
          console.log("deactivared");
      },
      activated(){
          console.log("activated");
      }

    }
</script>

<style scoped>
  div {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px black;
    padding: 20px;
    margin: 30px auto;
  }
</style>
