<template>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <router-link to="/" class="navbar-brand">Logo</router-link>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <router-link to="/portfolio" tag="li" activeClass="active" class="nav-item"><a class="nav-link">Portfolio</a></router-link>

      <router-link to="/stocks" tag="li" activeClass="active" class="nav-item"><a class="nav-link">Stocks</a></router-link>

      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->

    </ul>
    <ul class="navbar-nav mr-auto right-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" @click="endDay">End day</a>
        </li>
         <li class="nav-item"
             :class="{dropdown: isDropdown}"
             @click="isDropdown = !isDropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" @click.prevent="saveData">Save Data</a>
          <a class="dropdown-item" href="#" @click.prevent="loadData">Load Data</a>
        </div>
      </li>
      <li class="nav-item">
        <strong class="nav-link">{{funds | currency}}</strong>

      </li>
    </ul>
  </div>
</nav>

</template>

<script>
import {mapActions} from 'vuex';


export default {
  data(){
    return {
      isDropdown:false
    }
  },
  computed:{
    funds(){
      return this.$store.getters.funds;
    },

  },
  methods:{
    ...mapActions({
      randomizeStocks:'randomizeStocks',
      facthData:'loadData'
    }),
    endDay(){
      this.randomizeStocks();
    },
    saveData(){
      const data = {
        funds: this.$store.getters.funds,
        stockPortfolio: this.$store.getters.stockPortfolio,
        stocks: this.$store.getters.stocks
      };
      console.log(data);
      this.$http.put('data.json', data);
    },
    loadData(){
      this.facthData();
    }
  }
};
</script>

<style scoped>
.navbar {
    margin: 50px 0;
}
</style>
