<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Routing</h1>
                <hr>
                <router-view name="header-top"></router-view>
                <transition name="slide">
                    
                    <router-view></router-view>                    
                </transition>
                
                <router-view name="header-bottom"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from './components/Header.vue';
    export default {
        components:{
            appHeader:Header
        }
    }
</script>

<style>


    .slide-enter{
  opacity: 0;
  }

  .slide-enter-active{
    transition: opacity 1s;
  }



  .slide-leave-active{
      transition: opacity 1s;
      opacity: 0;
  }
</style>
