<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Vuex</h1>
                <app-result></app-result>
                <app-another-result></app-another-result>

                <hr>
                <app-counter></app-counter>
                <app-another-counter></app-another-counter>
                <app-another-Countertwo></app-another-Countertwo>
                <hr>
                <form>
                  <input type="text" v-model="value" @input="updateValue">
                </form>
                <h2>{{ value }}</h2>
                <h2>{{ now }}</h2>
            </div>
        </div>
    </div>
</template>

<script>
import Counter from "./components/Counter.vue";
import AnotherCounter from "./components/AnotherCounter.vue";
import AnotherCountertwo from "./components/AnotherCounter2.vue";
import Result from "./components/Result.vue";
import AnotherResult from "./components/AnotherResult.vue";

export default {
  data(){
    return{
      vvv:0
    }
  },
  methods:{
    updateValue(event){
      this.$store.dispatch('updateValue', event.target.value)
    }
  },
  computed:{
    value:{
      get(){
        return this.$store.getters.value;
      },
      set(value){
        return this.$store.dispatch('updateValue', value)
      }

    },
    now(){
      return  Date.now();
    }
  },
  components: {
    appCounter: Counter,
    appAnotherCounter: AnotherCounter,
    appResult: Result,
    appAnotherResult: AnotherResult,
    appAnotherCountertwo: AnotherCountertwo
  }
};
</script>

