<template>
    <div class="container">
        <div class="row">
            <div class="">
                <h1>Vuex</h1>
                <app-result></app-result>
                <app-another-result></app-another-result>

                <hr>
                <app-counter></app-counter>
                <app-another-counter></app-another-counter>
                <app-another-Countertwo></app-another-Countertwo>
                <hr>
                <h2> {{result}} </h2>
                <button class="btn btn-success" @click="increment">Plus</button>
                <form>
                  <input type="text" v-model="form.todoTask">
                  <input type="text" v-model="form.todoCompleted">
                  <button class="btn btn-normal" @click.prevent="addItem">Add item</button>
                </form>
                <ul>
                  <li v-for="(todo, index) in check" :key="index">{{todo.task+"=="+ todo.completed}} <button class="btn btn-danger" @click="deleteItem(index)">delete</button></li>
                </ul>

                <!-- Section: Features v.2 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Why is it so great?</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fa fa-bullhorn blue-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Marketing</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <a class="btn btn-primary btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fa fa-cogs pink-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Customization</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <a class="btn btn-pink btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fa fa-dashboard purple-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Support</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <a class="btn btn-purple btn-sm">Learn more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->
            </div>
        </div>
    </div>
</template>

<script>
import Counter from "./components/Counter.vue";
import AnotherCounter from "./components/AnotherCounter.vue";
import AnotherCountertwo from "./components/AnotherCounter2.vue";
import Result from "./components/Result.vue";
import AnotherResult from "./components/AnotherResult.vue";

export default {
  data(){
    return{
      vvv:0,
      form:{
        todoTask:'',
        todoCompleted:''
      }
    }
  },
  methods:{
    increment(){
      this.$store.commit('increment', 100);
    },
    deleteItem(i){
      this.$store.commit('deleteItem', {index:i, count:1})
    },
    addItem(){
      this.$store.commit('todoTask', {task: this.form.todoTask, completed: this.form.todoCompleted});
      this.form.todoTask = '';
      this.form.todoCompleted = '';
    }
  },
  computed:{
    result(){
      return this.$store.state.value
    },
    check(){
      console.log(this.$store.getters.todos);
      return this.$store.getters.todos
    }
  },
  components: {
    appCounter: Counter,
    appAnotherCounter: AnotherCounter,
    appResult: Result,
    appAnotherResult: AnotherResult,
    appAnotherCountertwo: AnotherCountertwo
  }
};
</script>

