<template>
<div>

  <div class="container">
    <div class="text-center">
      <h2>HTTP Reaquest</h2>

      <hr>
      <form>
        <div class="form-group">
          <label for="">username</label>
          <input type="text" class="form-control" v-model="user.username">
        </div>
        <div class="form-group">
          <label for="">mail</label>
          <input type="text" class="form-control" v-model="user.mail">
        </div>
        <button type="button" class="btn btn-primary" @click="setData">Submit</button>
      </form>
      <hr>

      <button class="btn btn-success" @click="showData">Get Data</button> -->

       <ul class="list-group">
        <li class="list-group-item" v-for="(u, index) in users" :key="index"> {{u.username}}  {{u.mail}}</li>
      </ul>

    </div>




  </div>
</div>

</template>

<script>
    export default{
      data(){
        return{
          user:{
            username:'',
            mail:''
          },
          users:[]
        }
      },
      methods:{
        setData(){
          // console.log(this.user.username+" "+ this.user.mail)
          this.$http.post('', this.user).then(success => {console.log(success)}, error => {console.log(error)})
        },
        showData(){
          this.$http.get('').then(response => {
             return response.json();
          }).then(data => {
            const resultArray = [];
            for(let key in data){
             resultArray.push(data[key]);
            }
            this.users = resultArray;
          })
        }
      }
    }
</script>

<style>

</style>
