<template>
<div>
  <div class="container">
    <div class="section-padding">
      <app-header></app-header>
      <router-view></router-view>
      <router-view name="app-button"></router-view>


    </div>

  </div>




</div>

</template>

<script>
  import Header from './component/Header.vue';
  import Button from './component/Button.vue';
  export  default {
    components:{
      appHeader:Header,
      appButton:Button
    }

  }
</script>

<style>
.section-padding{
  margin: 50px 0;
}
</style>
