<template>
<div>
  <h2>this is product details fdgdfg dfg sdfg sdf gdfgd</h2>



   <div class="container">
        	<div class="row">
               <div class="col-lg-4 col-xs-4 item-photo">
                    <img style="max-width:100%;" :src="itemdetail.img" />
                </div>
                <div class="itemright col-lg-8 col-xs-5">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>{{itemdetail.title}}</h3>
                    <h5 style="color:#337ab7">Category: <a href="#">{{itemdetail.category}}.</a> </h5>

                    <!-- Precios -->
                    <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
                    <h3 style="margin-top:0px;"> {{itemdetail.price}}</h3>

                    <!-- Detalles especificos del producto -->

                    <div class="section" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>CANTIDAD</small></h6>
                        <div>
                            <button @click="disIncreaseQuantity">-</button>
                            <input type="number" v-model="itemquantitty"/>
                            <button @click="increaseQuantity">+</button>
                        </div>
                    </div>

                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success" @click="addCartItem">Add to Cart</button>

                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Agregar a lista de deseos</a></h6>
                    </div>
                </div>

                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li class="active">Detalle del producto</li>
                        <li>Garantía</li>
                        <li>Vendedor</li>
                        <li>Envío</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                            <small>
                            Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection, this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go.

                            With its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.
                            </small>
                        </p>
                        <small>
                            <ul>
                                <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
                                <li>Available on GSM, AT T, T-Mobile and other carriers</li>
                                <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
                                <li>MicroUSB and USB connectivity</li>
                                <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
                                <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
                                <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
                                <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
                                <li>Features 16 GB memory and 2 GB RAM</li>
                                <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
                                <li>17 hours of talk time, 350 hours standby time on one charge</li>
                                <li>Available in white or black</li>
                                <li>Model I337</li>
                                <li>Package includes phone, charger, battery and user manual</li>
                                <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
                            </ul>
                        </small>
                    </div>
                </div>
            </div>
        </div>

</div>
</template>
<script>
export default {
  data(){
    return {
      itemquantitty:0
    }
  },
  computed:{
    // itemdetail(){
    //   return this.$route.query.itemi;
    // },
    itemdetail(){
      const selectItem = this.$store.getters.allItems.find(element =>{
        return element.title == this.$route.query.itemi.title;
      })
      return selectItem;
    }
  },
  methods:{
    disIncreaseQuantity(){
      if(this.itemquantitty <= 0){
        this.itemquantitty = 0;
      }else{
        this.itemquantitty--;
      }

    },
    increaseQuantity(){
      this.itemquantitty++;
    },
    addCartItem(){
      const cartItem = {
        name:this.itemdetail.title,
        category:this.itemdetail.category,
        price:this.itemdetail.price,
        quantity:this.itemquantitty,
        img:this.itemdetail.img,
        // itemprice:(this.itemdetail.price * Number(this.itemquantitty))
      }
      this.$store.dispatch('addCartItem', cartItem);
      this.$store.dispatch("setData")
    }
  },
  created(){
  },

}
</script>
<style>
.itemright.col-lg-8.col-xs-5 {
    text-align: left;
    padding: 25px;
    border: 2px solid gray;
}
  ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-success{width:100%;border-radius:0;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

</style>
