<template>
  <div>
    <h1>Product list item</h1>
    <p>{{ $route.params.id }}</p>

    <!-- Section: Products v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our bestsellers</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div v-for="(item, index) in items" class="col-lg-4 col-md-12 mb-lg-0 mb-4" :key="index">
      <router-link :to="{name:'itemdetail', query:{itemi:item}}" tag="a">
      <!-- Card -->
      <div class="card card-cascade wider card-ecommerce">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img :src="item.img" class="card-img-top" alt="sample photo">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="text-muted">
            <h5>{{item.title}}</h5>
          </a>
          <h4 class="card-title">
            <strong>
              <a href="">{{item.category}}</a>
            </strong>
          </h4>
          <!-- Description -->
          <p class="card-text">{{item.description}}</p>
          <!-- Card footer -->
          <div class="card-footer px-1">
            <span class="float-left font-weight-bold">
              <strong>{{item.price}}$</strong>
            </span>
            <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                <i class="fa fa-eye grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                <i class="fa fa-heart grey-text ml-3"></i>
              </a>
            </span>
          </div>
        </div>
        <!-- Card content -->

      </div>
      </router-link>
      <!-- Card -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Products v.2 -->
  </div>
</template>
<script>
export default {
      computed:{
        items(){
          return this.$store.getters.allItems.filter(element => {
            return this.$route.params.id == element.category;
          });
        }
      },
      created() {
        console.log(this.items + this.$route.params.id);
      },
}
</script>
