<template>
  <div class="section-padding">

    <div class="row">
        <router-link v-for="mc in mainCategory" :to="'/product/'+mc.name" tag="div" class="col-lg-4" style="cursor:pointer" :key="mc.name">
          <div class="card">
            <div class="view overlay">
                <img class="card-img-top" :src="mc.img">
                  <div class="mask rgba-white-slight"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{ mc.name}}</h4>
                <hr>
                <p class="card-text">{{mc.details}}</p>
              </div>
              <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                  <li class="list-inline-item pr-2 white-text"><strong>itemQuantity   </strong>{{mc.itemQuantity}}</li>

                </ul>
              </div>
            </div>
      </router-link>
    </div>


 </div>
</template>

<script>
export default {
  data(){
    return {

    }
  },
  computed:{
    mainCategory(){
      return this.$store.getters.mainCategory;
    }
  }
}
</script>
<style>
  .section-padding {
    width: 100%;
}
</style>

