<template>
    <p>Counter is: {{ counter }}</p>
</template>

<script>
export default {
  computed: {
    counter() {
      console.log(this.$store.state.counter);
      return this.$store.getters.counter;

    }
  }
};
</script>
