<template>
  <div>



<!-- Section: Products v.5 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our bestsellers</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Carousel Wrapper -->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!-- Controls -->
    <div class="controls-top">
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <!-- Controls -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->
    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 mb-2">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Shoes</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Leather boots</a>
                  </strong>
                </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">69$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-2 clearfix d-none d-md-block">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Jeans</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Slim jeans</a>
                  </strong>
                </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">99$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-2 clearfix d-none d-md-block">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Shorts</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Denim shorts</a>
                  </strong>
              </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">49$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
      <!-- First slide -->
      <!-- Second slide -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-2">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Accessories</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Summer hat</a>
                  </strong>
              </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">39$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-2 clearfix d-none d-md-block">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Shoes</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Black heels</a>
                  </strong>
                </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">79$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-2 clearfix d-none d-md-block">
            <!-- Card -->
            <div class="card card-cascade narrower card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg" class="card-img-top" alt="sample photo">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->
                <a href="" class="text-muted">
                  <h5>Outerwear</h5>
                </a>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Black jacket</a>
                  </strong>
              </h4>
                <!-- Description -->
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
                </p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-left">149$</span>
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                      <i class="fa fa-eye ml-3"></i>
                    </a>
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                      <i class="fa fa-heart ml-3"></i>
                    </a>
                  </span>
                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
      <!-- Second slide -->
      <!--Third slide -->
      <div class="carousel-item row">
        <div class="row">
          <div class="col-md-4 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Leather bag</a>
                </strong>
            </h4>
              <!-- Description -->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
              </p>
              <!-- Card footer -->
              <div class="card-footer px-1">
                <span class="float-left">29$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <i class="fa fa-eye ml-3"></i>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <i class="fa fa-heart ml-3"></i>
                  </a>
                </span>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Leather belt</a>
                </strong>
            </h4>
              <!-- Description -->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
              </p>
              <!-- Card footer -->
              <div class="card-footer px-1">
                <span class="float-left">89$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <i class="fa fa-eye ml-3"></i>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <i class="fa fa-heart ml-3"></i>
                  </a>
                </span>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(57).jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <h4 class="card-title my-4">
                <strong>
                  <a href="">Sneakers</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.
              </p>
              <!-- Card footer -->
              <div class="card-footer px-1">
                <span class="float-left">129$</span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                    <i class="fa fa-eye ml-3"></i>
                  </a>
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">
                    <i class="fa fa-heart ml-3"></i>
                  </a>
                </span>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        </div>
      </div>
      <!--Third slide -->
    </div>
    <!-- Slides -->
  </div>
  <!-- Carousel Wrapper -->

</section>
<!-- Section: Products v.5 -->

<!-- Section: Features v.3 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Why is it so great?</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 text-center text-lg-left">
      <img  class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Safety</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Technology</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Finance</h5>
          <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->
  </div>
</template>
<script>
export default {

}
</script>
