<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="text-center">
            <app-cart></app-cart>
            <router-view></router-view>
            <router-view name="app-header"></router-view>

        </div>
      </div>
    </div>



  </div>
</template>

<script>
import Cart from './components/cart/Cart';
export default {
  name: 'app',
  data () {
    return {
      msg: 'Vue js full practice'
    }
  },
  components:{
    appCart:Cart
  },
  created(){
    this.$store.dispatch('getData');
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
