<template>
<div>

    <div class="cd-cart-container" :class="{open:cartShow}" @click="cartShow = false">



</div> <!-- cd-cart-container -->
<div class="cartbox">
      <div class="cd-cart-trigger" @click="cartShow = !cartShow">

    <i class="fas fa-shopping-cart"></i>
		<ul class="count" v-if="!cartShow"> <!-- cart items count -->
			<li>0</li>
		</ul> <!-- .count -->


	</div>
  <div class="body" :class="{openbody:cartShow}">
				<ul>
					<li>
            <div></div>
          </li>
          <li class="product" v-for="(cli, index) in cartListItem" :key="index">
            <div class="product-image">
              <a href="#0">
                <img :src="cli.img" alt="placeholder">
              </a>
            </div>
            <div class="product-details">
              <div>
                  <h3><a href="#0">{{cli.name}}</a></h3>
                  <h4 class="price">{{cli.price}} <span> * </span>  {{cli.quantity}} <span> = </span> {{cli.itemprice}}</h4>
              </div>

              <div class="actions">
                  <label for="cd-product-1">Qty</label>
                  <span class="select">
                    <button @click="discreaseItem(index, cli.price)">-</button>
                    <input type="number" v-model="cli.quantity">
                    <button @click="increaseItem(index, cli.price)">+</button>
                  </span>
              </div>
              <a href="" class="closecart" @click.prevent="deleteCartItem(index)">X</a>
            </div>
          </li>
				</ul>
			</div>
  <footer class="footer" :class="{openfooter:cartShow}">
				<a href="#0"><em>Checkout - $<span>{{tatolPrice}}</span></em></a>
			</footer>
  </div>


</div>

</template>
<script>
import axios from 'axios';

export default {
  data(){
    return{
      cartShow:false,
      rootclass:false
    }
  },
  computed:{
    cartListItem(){
      return this.$store.getters.cartItems
    },

    tatolPrice(){
      return this.$store.getters.totalPrice;
    }
  },
  methods:{
    increaseItem(i, price){
      const uInre = {
        index:i,
        quan:1,
        price:price
      }
      this.$store.dispatch('increaseItem', uInre);
      // let allData = this.$store.getters.allData;
      // console.log(allData);

      this.$store.dispatch("setData")
    },
    discreaseItem(i, price){
      const uInre = {
        index:i,
        quan:1,
        price:price
      }
      this.$store.dispatch('discreaseItem', uInre);
      this.$store.dispatch("setData")

    },
    deleteCartItem(i){
      this.$store.dispatch('deleteCartItem', i);
      this.$store.dispatch("setData")
    }
  },
  created(){

  }
}
</script>
<style>
div.cd-cart-trigger {
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 29px 2px #ddd;
    border-radius: 10px;
    position: relative;
    background: #fff;
}
.body {
    background: white;
    position: absolute;
    width: 400px;
    bottom: 100%;
    right: 0%;
    z-index: 99;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #ddd;
    transform-origin: 100% 100%;
    transform: scale(0, 0);
    transition: .4s;
}
.body.openbody {
    transform: scale(1, 1);
}
footer.footer.openfooter {
    transform: scaleX(1);
}
.footer {
    position: absolute;
    background: #3f51b5!important;
    right: 100%;
    bottom: 0px;
    width: 330px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transform: scaleX(0);
    transform-origin: right;
}
div.cd-cart-trigger i.fas.fa-shopping-cart {
    font-size: 25px;
    margin: 23px 0;
}
.cartbox {
    position: fixed;
    top: 81%;
    right: 2%;
    z-index: 999;
}
ul.count {
    width: 28px;
    height: 28px;
    background: red;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}
.cd-cart-container::before {
   content: '';
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}
.cd-cart-container.open::before {
    visibility:visible;
    opacity: 1;
}
header.header-cart {
    width: 100%;
    position: absolute;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
}
li.product {
    display: flex;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    position: relative;
}
.product-image {
    width: 25%;
}
.product-image img {
    width: 100%;
    height: 82px;
}
.product-details {
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.product-details h3 {
    font-size: 19px;
    font-weight: 600;
}
.product-details h3 a {
    color: #2b3e51;
}
h4.price {
    font-size: 14px;
    font-weight: 700;
    color: #808b97;
}
h4.price span {
    color: #000;
}
.actions {
    width: 150px;
    padding: 0 10px;
}
input[type="number"] {
    width: 40px;
}
label {
    width: 100%;
}
span.select button {
    background: #fff;
    border: 2px solid #ddd;
    width: 25px;
    height: 25px;
    line-height: 10px;
    text-align: center;
    padding-right: 5px;
}
input[type="number"] {
    width: 40px;
    border: 2px solid #ddd;
    height: 25px;
}
</style>
