<template>
<div>

  <div class="container">
    <div class="text-center">
      <h2>Transition and Animation</h2>
      <select v-model="alertAnimation" class="form-control">
        <option value="fade">fade</option>
        <option value="slide">slide</option>
      </select>


      <button class="btn btn-success" @click="show = !show">Alert div</button>
      <br><br>
      <transition :name="alertAnimation" appear>
        <div class="alert alert-info" v-if="show">
          <h2>this is going to very hard for us </h2>
          <div class="dontdothis">
            <p> I am going to very fast</p>
          </div>
        </div>

      </transition>


      <transition name="slide" type="animation" appear>
        <div class="alert alert-info" v-if="show">
          <h2>this is going to very hard for us so now to recover our skills</h2>
          <div class="dontdothis">
            <p> I am going to very fast</p>
            
          </div>
        </div>

      </transition>

      <transition name="fade"
                  enter-active-class="animated bounce"
                  leave-active-class="animated shake"
      >
        <div class="alert alert-info" v-if="show">
          <h2>this is going to very hard for us so now to recover our skills</h2>
          <div class="dontdothis">
            <p> I am going to very fast</p>
          </div>
        </div>

      </transition>
      
      <transition :name="alertAnimation" mode="out-in">
        <div class="alert alert-info" v-if="show" key="info">
          <h2>this is going to very hard for us </h2>
          
        </div>

        
        <div class="alert alert-danger" v-else key="warning">
          <h2>this is going to very hard for us </h2>
        
        </div>

      
      </transition>

    </div>




  </div>
</div>

</template>

<script>
  export default {
    data(){
      return {
        show:true,
        alertAnimation:'fade'
      }
    }
  }
</script>

<style>

  .fade-enter{
  opacity: 0;
  }

  .fade-enter-active{
    transition: opacity 1s;
  }

  .fade-leave{

  }

  .fade-leave-active{
      transition: opacity 1s;
      opacity: 0;
  }


  .slide-enter{
    opacity: 0;
  }

  .slide-enter-active{
    animation:slide-in 1s ease-in forwards;
    transition: .5s;

  }

  .slide-leave{

  }

  .slide-leave-active{
      animation:slide-out 1s ease-in forwards;
    transition: .5s;
    
    opacity: 0;
  }



  @keyframes slide-in{
    from{
      transform: translateY(20px);
    }
    to{
      transform:translateY(0);
    }
  }
  @keyframes slide-out{
    from{
      transform: translateY(0);
    }
    to{
      transform:translateY(20px);
    }
  }


</style>
