<template>
  <div class="section-padding">
      <div class="row">

        <h1 style="width:100%;">Product categories </h1>
        <router-view></router-view>
      </div>
  </div>
</template>
<script>
export default {

}
</script>

<style>
  .section-padding{
    padding: 150px 0;
  }
</style>
