<template>
<div class="row">
<app-stock v-for="stock in stocks" :stock="stock" :key="stock.id"></app-stock>

<p></p>
</div>

</template>
<script>
import Stock from './Stock.vue';
export default {
  data(){
    return {
    }
  },
  components:{
    appStock:Stock
  },
  computed:{
    stocks(){
      return this.$store.getters.stocks;
    }
  }
}
</script>
