<template>
<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card">
      <div class="card-heading bg-success">
        <h4 class="card-title">{{stock.name}} <small>(Price:{{stock.price}})</small></h4>
      </div>
      <div class="card-body">
        <div>
          <input type="number" class="form-control" :class="{danger: insufficientFunds}" placeholder="Quantity" v-model="quantity">
        </div>
        <div>
          <button class="btn btn-success"
                  @click="buyItem"
                  :disabled="insufficientFunds ||quantity <= 0 || Number.isInteger(quantity)"
           >{{insufficientFunds?'insufficientFunds': 'BUY'}}</button>
        </div>
      </div>
  </div>
</div>

</template>
<script>
export default {
    props:['stock'],
    data(){
      return{
        quantity:0
      }
    },
    computed:{
      funds(){
        return this.$store.getters.funds;
      },
      insufficientFunds(){
        return this.quantity * this.stock.price > this.funds
      }
    },
    methods:{
      buyItem(){
        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: Number(this.quantity)
        }
        console.log(order);
        this.$store.dispatch('buyStock', order);
        this.quantity = 0;
      }
    }
}
</script>

<style scoped>
.danger{
  border: 1px solid red;
}
.card-body {
    display: flex;
}
.card-title {
    margin-bottom: 0;
    margin: 10px;
}
.card {
    margin-bottom: 25px;
}
.btn {
    padding: .60rem 1.45rem;
    margin: 0 17px;
}

</style>
