<template>
    <div class="component">
        <h1>The User Component</h1>
        <p>I'm an awesome User!</p>

        <button @click="changeName">change name</button>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-user-detail :name="title" @nameWasReset="title = $event" :resetFn="resetName" :userAge="age" ></app-user-detail>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-user-edit
                  :userAge="age"
                  @ageWasEditid="age = $event"
                  :increaseAge="increase"
                >
                </app-user-edit>
            </div>
        </div>
    </div>
</template>

<script>
    import UserDetail from './UserDetail.vue';
    import UserEdit from './UserEdit.vue';

    export default {
        data(){
          return {
            title: 'rabbi',
            age:27
          }
        },
      methods:{
        changeName(){
          this.title = "gloam";
        },
        resetName(){
          this.title = "rabbi";
        },
        increase(){
          this.age += 5;
        }
      },
        components: {
            appUserDetail: UserDetail,
            appUserEdit: UserEdit
        }
    }
</script>

<style scoped>
    div {
        background-color: lightblue;
    }
</style>
