<template>
    <div class="component">
        <h1> {{reverseTitle()}}</h1>
        <h3>You may view the User Details here</h3>
        <p>Many Details</p>
        <h4>User title: {{name}} </h4>
        <h4>User age: {{userAge}} </h4>

      <button @click="resetName()">Reset name</button>
      <button @click="resetFn()">Reset name</button>
    </div>
</template>

<script>
  import { eventBus} from "../main";

  export default{
    props:{
      name:{
        type: String
      },
      resetFn: Function,
      userAge: Number
    },
    methods:{
      reverseTitle(){
        return this.name.split("").reverse().join("");
      },
      resetName(){
        this.name = "kaka";
        this.$emit("nameWasReset", this.name);
      }
    },
    created(){
      eventBus.$on('ageWasReset', (age) => {
        this.userAge = age;
      })
    }
  }
</script>

<style scoped>


    div {
        background-color: lightcoral;
    }
</style>
