<template>
    <div class="component">
        <h3>You may edit the User here</h3>
        <p>User age: {{userAge}}</p>

        <button @click="editUserage">Edit age</button>
        <button @click="increaseAge()">Edit age</button>
    </div>
</template>

<script>
  import { eventBus } from "../main";

  export default {
    props:{
      userAge:Number,
      increaseAge:Function
    },
    methods:{
      editUserage(){
        this.userAge = 30;
        // this.$emit('ageWasEditid', this.userAge);
        eventBus.$emit('ageWasEditid', this.userAge);
      }
    }
  }
</script>

<style scoped>
    div {
        background-color: lightgreen;
    }
</style>
