<template>
    <div class="col-lg-3">
      <slot></slot>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
.quote-item {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 14px #ddd;
  padding: 20px 15px;
  margin: 14px 0;
}
</style>
