<template>
<div>

  <div class="container">
    <div class="text-center">
      <h2>Build in directives</h2>
      <p v-text="'this is text'"></p>
      <p v-html="'<b>this is bold text</b>'"></p>
    </div>
  <hr>
    <div class="text-center">
      <h2>custom directives</h2>
      <p v-highlight:background.delayed="'red'">this is out custom directive test</p>
      <p v-local-highlight:background.delayed.blink="'red'">this is out custom directive test</p>
    </div>
  </div>
</div>

</template>

<script>
  export default {
    directives:{
      'local-highlight':{
        bind(el, binding, vnode){
          // el.style.backgroundColor = 'green';
          // el.style.backgroundColor = binding.value;
          let delay = 0;

          if (binding.modifiers['delayed']){
            delay = 3000;
          }

          if (binding.modifiers['blink']) {
              let mainColor = binding.value;
              let secondColor = 'blue';
              let currentColor = mainColor;
            setTimeout(() => {
              setInterval(()=>{
                currentColor == secondColor? currentColor = mainColor: currentColor = secondColor;
                if (binding.arg == 'background'){
                  el.style.backgroundColor = currentColor;
                } else {
                  el.style.color = currentColor;
                }
              }, 1000);

            }, delay);



          }else {
            setTimeout(() => {
              if (binding.arg == 'background'){
                el.style.backgroundColor = binding.value;
              } else {
                el.style.color = binding.value;
              }
            }, delay);
          }



        }
  }
    }
  }
</script>

<style>

</style>
