<template>
  <div>
    <button @click="$router.push({path:'/'});">Back Home</button>
  </div>
</template>

<script>
    export default {
        name: "Button"
    }
</script>

<style scoped>

</style>
