<template>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <router-link to="/" tag="a" class="nav-link" active-class="active" exact>Home</router-link>
      </li>


      <li class="nav-item">
        <router-link to="/about" tag="a" class="nav-link" active-class="active" >About</router-link>
      </li>


      <li class="nav-item">
      <router-link to="/service" tag="a" class="nav-link" active-class="active" >Service</router-link>
    </li>

      <li class="nav-item">
        <router-link to="/team" tag="a" class="nav-link" active-class="active" >Team</router-link>
      </li>

      <li class="nav-item">
        <router-link :to="{name:'about'}" tag="a" class="nav-link" active-class="active" >Test</router-link>
      </li>






      <!-- <li class="nav-item">
        <a class="nav-link active" href="#">Disabled</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li> -->
    </ul>


  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped>

</style>
