<template>
    <div>
      <h2> Team Edit Page</h2>
      <p>{{ $route.query.a }}</p>
      <p>{{$route.query.locate}}</p>
    </div>
</template>

<script>
    export default {
        name: "TeamEdit"
    }
</script>

<style scoped>

</style>
