<template>
    <div>
      <h2>this is team details page</h2>
      <p>{{ $route.params.id }}</p>

      <router-link :to="{name:'TeamUserEdit', params:{id:$route.params.id}, query:{a:100, locate:'rag'}}" tag="button">Edit Page</router-link>
    </div>
</template>

<script>
    export default {
        name: "TeamDetails"
    }
</script>

<style scoped>

</style>
