<template>
    <div>
      <ul class="nav flex-column">
        <router-link
          to="team/1"
          tag="li"
          class="nav-item"><a class="nav-linl">one</a></router-link>

        <router-link
          to="team/2"
          tag="li"
          class="nav-item"><a class="nav-linl">Two</a></router-link>

        <router-link
          to="team/3"
          tag="li"
          class="nav-item"><a class="nav-linl">Three</a></router-link>

        <router-link
          to="team/4"
          tag="li"
          class="nav-item"><a class="nav-linl">Four</a></router-link>


      </ul>
    </div>
</template>

<script>
    export default {
        name: "TeamStart"
    }
</script>

<style scoped>

</style>
