<template>
  <div>

    <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <router-link to="/" tag="a" class="navbar-brand">Navbar</router-link>
    <a class="navbar-brand" href="#"></a>



    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">



    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
<div class="row">
<div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <router-link to="/itemcat" tag="a" class="nav-link" active-class="active"> Category </router-link>

      <router-link to="/itemgroup" tag="a" class="nav-link" active-class="active"> Group </router-link>

      <router-link to="/items" tag="a" class="nav-link" active-class="active"> Item </router-link>

      <router-link to="/itemcat" tag="a" class="nav-link" active-class="active"> shop </router-link>


    </div>
  </div>
  <div class="col-9">
    <router-view></router-view>
  </div>
</div>


  </div>
</template>
<script>
export default {

}
</script>
<style>

</style>
