<template>
<div class="quote-section">
  <div class="container">
    <div class="progress" style="height: 20px">
      <div class="progress-bar" role="progressbar" style="height: 20px" :style="{width:proces+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{texts.length}}/10</div>
    </div>


    <div class="form-area text-center">

      <div class="form-group shadow-textarea">
        <label for="exampleFormControlTextarea6">Shadow and placeholder</label>
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." v-model="additem"></textarea>
      <button class="btn btn-deep-purple" @click.prevent="addItems()">Add Quote</button>
    </div>



    </div>
    <div class="row">

      <quoteItem v-for="(text, i) in texts" :key="i">
        <div class="quote-item"  @click="remove(i)">
          <p>{{ i+1 }}.{{text}}</p>
        </div>

      </quoteItem>
    </div>
  </div>


</div>

</template>

<script>
  import Quote from './component/Quote.vue';

  export  default {
    data(){
      return{
        texts: ['this is for check that component is running'],

        additem: ""
      }
    },
    components:{
      quoteItem: Quote
    },
    methods:{
      addItems: function () {

        if (this.texts.length > 9){
          alert("your target fillup");
          this.additem = "";
          return;
        }
        this.texts.push(this.additem);

      },
      remove: function (i) {
        this.texts.splice(i, 1);
        console.log(i);
      }


    },
    computed:{
      proces(){
        return this.texts.length * 10;
      }
    }
  }
</script>

<style>
  .quote-section{
    padding: 50px 0;
  }


  .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
  }
  .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
  }
  .btn-deep-purple{
    margin-top: 25px;
    border-radius: 5px;
  }
</style>
