<template>
  <div>
    <h2>this cli project is {{ status }} </h2>
    <hr>
    <button @click="changeStatus">change</button>
  </div>

</template>




<script>
  export default{
    data:function(){
      return {
        status: "Critical"
      }
    },
    methods:{
      changeStatus(){
        this.status = "Normal";
      }
    }
  }

</script>
