<template>
<div class="quote-section">

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12 text-center">
       <p>{{count}}</p>
       <data-app @passData="count += $event" :countchild="count1"></data-app>
      </div>
    </div>
  </div>


</div>

</template>

<script>
  import Data from './component/Data.vue';
  export  default {
    data(){
      return{
        count:25,
        count1:10
      }
    },
    components:{
      dataApp:Data
    }
  }
</script>

<style>
  .quote-section{
    padding: 50px 0;
  }


  .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
  }
  .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
  }
  .btn-deep-purple{
    margin-top: 25px;
    border-radius: 5px;
  }
</style>
