<template>
<div class="quote-section">

  <div class="container">
    <appHeader :qouteCount="qoutes.length" :maxQoutes="maxQoutes"></appHeader>
    <appNewQuote @qouteAdded="newQoute"></appNewQuote>
      <appQuoteGrid :qoutes="qoutes" @qouteDeleted="deleteQoute"> </appQuoteGrid>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">
          info:Click on a Qoute to Delete it
        </div>
      </div>
    </div>
  </div>


</div>

</template>

<script>
  import QouteGrid from './component/QuoteGrid.vue';
  import NewQuote from './component/NewQoute.vue';
  import Header from './component/Header.vue';
  export  default {
    data(){
      return{
         qoutes:['Just a Quote to see something'],
        maxQoutes:10

      }
    },
    methods:{
      newQoute(qoute){
        if (this.qoutes.length >= this.maxQoutes){
          return alert('please delet Qoutes first');
        }
        this.qoutes.push(qoute);
      },
      deleteQoute(index){
        this.qoutes.splice(index, 1);
      }
    },
    components:{
      appQuoteGrid: QouteGrid,
      appNewQuote: NewQuote,
      appHeader: Header
    }
  }
</script>

<style>
  .quote-section{
    padding: 50px 0;
  }


  .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
  }
  .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
  }
  .btn-deep-purple{
    margin-top: 25px;
    border-radius: 5px;
  }
</style>
