<template>
    <div>
        <h3>Edit the User</h3>
        <p>{{ $route.query.q }}</p>
        <p>{{ $route.query.locate }}</p>
        <router-link :to="'/user/'+$route.params.id" tag="button">Back</router-link>
        
    </div>

</template>