<template>
    <div>
            <h1>The User Page</h1>
            <p>{{ id }}</p>
            <hr>
            <button class="btn btn-success" @click="backHome"> Back to Home </button>
            <hr>
            <router-view></router-view>
    </div>
    
    

</template>

<script>
export default {
    data(){
        return{
            id:this.$route.params.id
        }
    },
    watch:{
        '$route'(to, from){
            this.id = to.params.id;
        }
    },
    methods: {
        backHome(){
            this.$router.push('/');
        }
    }
}
</script>
