<template>
<div class="userdatails">
    <h3>Some User Details</h3>
    <h2> active user id :{{ $route.params.id }}</h2>
    <router-link 
    tag="button" 
    :to="link" 
    class="btn btn-primary" style="margin-bottom: 25px;">Edit user</router-link>
    <router-link 
    tag="button" 
    to="/user/" 
    class="btn btn-primary" style="margin-bottom: 25px;">Back user</router-link>
</div>
    
</template>


<script>
export default {
    data () {
        return {
            link:{
                name:'userEdit',
                params:{ 
                    id:this.$route.params.id 
                    }, 
                query:{
                    locate:'raj', 
                    q:100
                    },
                hash:'#data'
                }
        }
    }
}
</script>
<style>
    
</style>