<template>
    <div>
        <p>Please select a User</p>
        <hr>
        <ul class="list-group">
            <router-link v-for="da in data" tag="li"  :to='tr+da'  class="list-group-item" style="cursor: pointer">User 1</router-link>
<!--            <router-link tag="li" to="user/2" class="list-group-item" style="cursor: pointer">User 2</router-link>-->
<!--            <router-link tag="li" to="user/3" class="list-group-item" style="cursor: pointer">User 3</router-link>-->
        </ul>
    </div>
</template>


<script>
    export default {
        data(){
            return {
                data:['1', '2', '3', '4'],
                tr:'user/'
            }
        }
    }

</script>