<template>
    <div>
      <h2>Login Example</h2>
      <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
              <form class="text-center border border-light p-5">

                  <p class="h4 mb-4">Sign in</p>

                  <!-- Email -->
                  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                  <!-- Password -->
                  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                  <div class="d-flex justify-content-around">
                      <div>
                          <!-- Remember me -->
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                          </div>
                      </div>
                      <div>
                          <!-- Forgot password -->
                          <a href="">Forgot password?</a>
                      </div>
                  </div>

                  <!-- Sign in button -->
                  <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                  <!-- Register -->
                  <p>Not a member?
                      <a href="">Register</a>
                  </p>


              </form>
            </div>
        </div>

      <!-- Default form login -->

<!-- Default form login -->
      </div>

    </div>
</template>

<script>
export default {

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
