<template>
<div>
  <button @click="selectorComponent = 'homeApp'">Home</button>
  <button @click="selectorComponent = 'appAuthor'">Author</button>
  <button @click="selectorComponent = 'appNew'">New</button>
</hr>
  <p>{{selectorComponent}}</p>

  <keep-alive>
    <component :is="selectorComponent" v-for="com in 5"></component>
  </keep-alive>


  <appNew v-for="dd in 5"></appNew>

  <!--<Homeapp>-->
    <!--<h2 slot="titlett">component practice</h2>-->
    <!--<p>loren ispum {{about}}</p>-->
    <!--<span>this is without slot</span>-->
  <!--</Homeapp>-->


</div>

</template>

<script>
  import Home from './component/Home.vue';
  import Author from './component/Author.vue';
  import New from './component/New.vue';
  export  default {
    data(){
      return{
        about: "i am hero",
        selectorComponent: 'homeApp'
      }
    },
    components:{
      homeApp: Home,
      appAuthor: Author,
      appNew: New
    }
  }
</script>

<style>

</style>
