<template>
<div>

  <div class="container">
    <div class="text-center">
      <h2>Filter And Mixin</h2>
      <p>{{ text | toUppercase | to-lowercase }}</p>
      <input type="text" v-model="filterValues">
      <ul>
        <li v-for="fruit in filderedFruits">{{fruit}}</li>
      </ul>
      <hr>



      <app-list></app-list>
    </div>




  </div>
</div>

</template>

<script>
  import List from './List.vue';

  import {fruitMixid} from './fruitMixid.js';
  export default {
    data(){
      return {
        text: "this is text",
      }
    },
    mixins:[fruitMixid],
    filters:{
      toUppercase(value){
        return value.toUpperCase();
      }
    },
    components:{
      appList: List
    }
  }
</script>

<style>

</style>
