<template>
  <div>

        <input type="text" v-model="filterValues">
        <ul>
          <li v-for="fruit in filderedFruits">{{fruit}}</li>
        </ul>



  </div>

</template>

<script>

  import {fruitMixid} from './fruitMixid.js';
  export default {
      mixins:[fruitMixid]
  }
</script>

<style>

</style>
